<table>
  <thead>
    <tr>
      <th>Id</th>
      <th width="25%">Source</th>
      <th width="73%">Line</th>
    </tr>
  </thead>
  <tbody>
    <% @doxes.each do |paradox| %>
      <tr>
      	<td><%= dox.paradox_name %></td>
      	<td><%= dox.brief %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
</div>