<!DOCTYPE html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<div class="container">
		<div class="box">
			<h1>Welcome to Paradox Parkway</h1>
		</div>
		<div class="cat-container">
			<div class="pp"><h1>PARADOX</h1></div>
			<div class="cat-divide"></div>
			<div class="tt"><h1>TIME TRAVEL</h1></div>
		</div>
	</div>
	</body>
</html>


	