<!DOCTYPE html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <style type="text/css">
      h1 {font-weight: normal;}
      .col-12, .col-11, .col-10, .col-9,
      .col-8, .col-7, .col-6, .col-5,
      .col-4, .col-3, .col-2, .col-1 {
        background-color: #aad2ff;
        border-radius: 3px;
        color: #666;
      }
      #page-wrap {
        width: 90%;
        font-family: Verdana;
      }
    </style>
    <div class="container">
      <div id = "page-wrap" class = "elm-center">
        <!-- <div class="row">
          <div class="col-12 elm-padded text-center"></div>
        </div> -->
        <div class="row">
          <div class="col-12 elm-padded text-center"><h1>Paradox Parkway: Time Travel Agency</h1></div>
        </div>
        <div class="row">
          <div class="col-6 elm-padded text-center">Col-6</div>
          <div class="col-7 elm-padded text-center">Col-7</div>
        </div>
      </div>
    </div>
  </body>
</html>
