<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Paradox Parkway <%= @visitor.name %></h1>
    <p><%= @visitor.email %>
		<br>
    </p>
    <p>
      <%= @visitor.message %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>