// Place all the styles related to the Doxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dox-entry{
	background-color: #1d2330;
	border: 2px solid #b8b8c7;
	margin-bottom: 15px;
}