// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-centered{
    float: none;
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.tagline-source{
	display: none;
}

.admin-box{
	border-top: 2px dashed blue;
	padding-top: 10px;
	padding-bottom: 10px;
}

.profile-photo {
	padding-top: 10px;
	padding-bottom: 15px;
}

.event-photo {
	max-height: 300px;
	padding-top: 10px;
	padding-bottom: 15px;
}
.event-index-photo {
	max-width: 100px;
	padding: 0 15px 15px 0;
}
.event-entry {
	padding-left: 10px;
	padding-bottom: 10px;
}
.cube-container {

	width: 500px;
	height: 500px;
}
.cube-pieces {
	position: relative;
	background-image: image-url('cube.png');
	background-size: 100% 100%;
	font-size: 0;
	margin: auto;
	width: 300px;
	height: 300px;
}
.cube-bit {
	height: 100px;
	width: 100px;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.title-face {
	position: absolute;
	top: 90px ;
	left: 57% ;
	text-decoration: none !important;
	color: transparent;
}
.person-face {
	position: absolute;
	top: 190px ;
	left: 21% ;
	text-decoration: none !important;
	color: transparent;
}